@import "../_variables.scss";

.stack {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__column {
    font-family: "Raleway";
    flex: 1;
    display: block;
    margin: 5px;
    padding: 5px;
  }
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    h3 {
      padding: 0 40px;
      text-align: center;
      border-bottom: 10px solid var(--secondary);

      & span {
        font-size: 2rem;
        color: var(--primary);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 4px 10px;
  }
}
