@import "../_variables.scss";

.stack {
  display: flex;
  flex-wrap: wrap;

  &__column {
    font-family: "Raleway";
    flex: 1;
    display: block;
    margin: 5px;
    padding: 5px;
  }
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0px 10px 20px 10px;
  }
}
