:root {
  --bg: hsl(0, 0%, 96%);
  --text: hsl(0, 0%, 6%);
  --text-secondary: hsl(200, 40%, 40%);
  --primary: hsl(0, 100%, 80%);
  --primary-opacity: hsla(0, 80%, 80%, 0.4);
  --primary-saturated: hsl(0, 80%, 40%);
  --secondary: hsl(200, 100%, 60%);
  --secondary-opacity: hsla(200, 100%, 50%, 0.2);
  --box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.3);
}

.dark {
  --bg: hsl(200, 20%, 10%);
  --text: hsl(0, 0%, 80%);
  --text-secondary: hsl(200, 50%, 30%);
  --primary: hsl(0, 70%, 60%);
  --primary-opacity: hsla(0, 100%, 70%, 0.3);
  --primary-saturated: hsl(0, 80%, 80%);
  --secondary: hsl(200, 80%, 40%);
  --secondary-opacity: hsla(200, 100%, 50%, 0.2);
  --box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.5);
  --img-filter: brightness(80%);
}
