@import '_variables.scss';
@import '_mobile.scss';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Raleway', sans-serif;
}
