@import "_variables.scss";

.logo {
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: "Raleway";
  font-weight: bold;
  display: flex;
  align-items: center;
  user-select: none;

  &__img {
    width: 50px;
    fill: var(--secondary);
  }
  &__name {
    margin-left: 20px;
    font-size: 1.6rem;
  }
}
